<h1><%= @user.name %> (<%= @user.email %>)</h1>
<h2>Hosted Events</h3>
<% @user.created_events.reverse.each do |event| %>
  <p><%= link_to event.name, event_path(event.id) %></p>
<% end %>
<hr>
<h2>Events Attending</h2>
<h3>Upcoming</h3>
<% @upcoming_events.each do |event| %>
  <p><%= link_to event.name, event_path(event.id) %></p>
<% end %>
<h3>Past</h3>
<% @previous_events.each do |event| %>
  <p><%= link_to event.name, event_path(event.id) %></p>
<% end %>